# Take a view at the data format

In [100]:
import pandas as pd

covid_train = pd.read_csv('covid_train.csv')
covid_test = pd.read_csv('covid_test.csv')
training_feature = covid_train.iloc[:, 1:-1] # the first column is 'id', so we exclude it.
training_label = covid_train.iloc[:, [-1]]
testing_feature = covid_test.iloc[:, 1:]

In [101]:
training_feature

,AL,AZ,CA,CO,CT,FL,GA,IL,IN,IA,...,wothers_masked_public.2,wothers_distanced_public.2,wshop_indoors.2,wrestaurant_indoors.2,wworried_catch_covid.2,hh_cmnty_cli.2,nohh_cmnty_cli.2,wearing_mask_7d.2,public_transit.2,worried_finances.2
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,13.271292,19.271113,69.050180,38.102142,47.130223,22.686202,17.583283,62.925033,2.704414,39.222329
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,13.983265,19.500509,68.847156,37.338682,46.598421,22.484758,17.219515,62.771641,2.474973,41.209073
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,14.133690,18.938706,68.694620,37.543537,46.858400,22.506261,17.128204,62.546116,2.569940,39.636816
3,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,13.154932,18.698535,69.339191,37.751874,44.633652,22.369951,17.069263,61.517466,2.610086,38.926817
4,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,13.621567,18.034980,69.564435,38.341833,44.100299,21.440588,16.207377,60.933647,2.790749,39.840306
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3004,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4.177710,11.949304,67.172136,45.253751,34.677094,15.416655,11.389769,28.867455,6.065089,30.451465
3005,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4.536844,12.525530,66.725856,44.988865,33.589880,15.755713,11.811906,29.482770,6.216503,31.196935
3006,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4.483524,13.271182,66.913987,45.316672,33.076780,15.538073,11.435870,28.911782,6.157999,31.492405
3007,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3.737855,12.185653,68.278056,46.760569,32.359431,15.980730,11.592346,28.151731,5.886028,32.338100
3008,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3.346517,12.193053,68.392842,46.636819,31.629827,15.777992,11.321163,27.768290,6.179323,31.861067

In [102]:
training_label

      tested_positive.2
0             18.490787
1             16.329253
2             16.522931
3             15.578501
4             14.171920
...                 ...
3004           6.487310
3005           6.112827
3006           6.151394
3007           7.165580
3008          10.535087

[3009 rows x 1 columns]

In [103]:
testing_feature

,AL,AZ,CA,CO,CT,FL,GA,IL,IN,IA,...,wothers_masked_public.2,wothers_distanced_public.2,wshop_indoors.2,wrestaurant_indoors.2,wworried_catch_covid.2,hh_cmnty_cli.2,nohh_cmnty_cli.2,wearing_mask_7d.2,public_transit.2,worried_finances.2
0,0,0,0,0,0,1,0,0,0,0,...,16.187812,15.996416,63.208478,34.034397,54.787540,42.142738,35.753942,66.459333,3.549976,37.561679
1,0,0,0,0,0,0,0,0,0,0,...,35.507282,17.686027,62.887780,35.300316,49.624786,12.668497,8.902815,68.035555,8.349080,33.921755
2,0,0,0,0,0,0,1,0,0,0,...,16.988814,15.553080,66.314132,36.798828,43.224876,24.278089,19.419730,62.169775,3.609419,36.657118
3,0,0,0,1,0,0,0,0,0,0,...,33.664879,15.302950,63.439616,35.768740,46.545017,29.619471,24.495402,70.137155,4.600004,34.210536
4,0,0,0,0,0,0,0,0,1,0,...,11.893332,15.043238,55.866033,30.800247,50.350116,50.161383,43.380365,62.227135,2.188933,40.253917
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
992,0,0,0,0,0,0,0,0,0,0,...,16.725758,20.019314,68.646911,33.102626,41.383047,18.834134,14.289705,61.266288,4.606961,35.682932
993,0,0,0,0,0,0,0,0,0,0,...,27.598087,21.654561,67.108953,34.953507,45.918540,19.720060,15.611472,68.767016,5.010471,34.686565
994,0,0,0,0,0,0,0,0,0,0,...,11.705587,18.190111,63.831927,36.732008,50.541024,27.619861,21.168493,54.497223,3.372057,43.279561
995,0,0,1,0,0,0,0,0,0,0,...,61.356046,27.113286,55.299278,24.324513,64.569360,41.825075,34.954591,87.193792,5.176875,38.497397
996,1,0,0,0,0,0,0,0,0,0,...,10.241117,15.435723,64.409680,34.241837,44.492289,34.594328,28.866970,58.744778,2.495701,36.514362

## Build pytorch model

In [104]:
import numpy as np
import torch
import torch.nn as nn
import torch.optim as optim
from torch.utils.data import Dataset, DataLoader


class CovidDataset(Dataset):
    def __init__(self, X, y):
        self.X = X.to_numpy(dtype=np.float32)
        self.y = y.to_numpy(dtype=np.float32)
        
    def __len__(self):
        return len(self.X)
        
    def __getitem__(self, idx):
        return self.X[idx], self.y[idx]


class RegressionModel_d1(nn.Module):
    def __init__(self, input_dim):
        super().__init__()
        self.model = nn.Sequential(
            nn.Linear(input_dim, 1)
        )
        
    def forward(self, x):
        return self.model(x)


class RegressionModel_d2(nn.Module):
    def __init__(self, input_dim, h1):
        super().__init__()
        self.model = nn.Sequential(
            nn.Linear(input_dim, h1),
            nn.ReLU(),
            nn.Linear(h1, 1)
        )
        
    def forward(self, x):
        return self.model(x)


class RegressionModel_d3(nn.Module):
    def __init__(self, input_dim, h1, h2):
        super().__init__()
        self.model = nn.Sequential(
            nn.Linear(input_dim, h1),
            nn.ReLU(),
            nn.Linear(h1, h2),
            nn.ReLU(),
            nn.Linear(h2, 1)
        )
        
    def forward(self, x):
        return self.model(x)


def train_model(model, dataloader, num_epochs, lr=1e-3):
    criterion = nn.MSELoss()
    optimizer = optim.Adam(model.parameters(), lr=lr)

    for epoch in range(num_epochs):
        for batch_X, batch_y in dataloader:
            preds = model(batch_X).squeeze()  # Make sure shape is (N,)
            loss = criterion(preds, batch_y.squeeze())
            optimizer.zero_grad()
            loss.backward()
            optimizer.step()
        if (epoch + 1) % 10 == 0:
            print(f"Epoch {epoch+1}/{num_epochs}, Loss: {loss.item():.4f}")

## Train d1 Model

In [108]:
dataset = CovidDataset(training_feature, training_label)
dataloader = DataLoader(dataset, batch_size=128, shuffle=True)

model_d1 = RegressionModel_d1(input_dim=87)
train_model(model_d1, dataloader, 500, lr=1e-3)

Epoch 10/500, Loss: 5.0328
Epoch 20/500, Loss: 3.9486
Epoch 30/500, Loss: 2.2548
Epoch 40/500, Loss: 1.6707
Epoch 50/500, Loss: 1.1893
Epoch 60/500, Loss: 1.6451
Epoch 70/500, Loss: 1.2391
Epoch 80/500, Loss: 0.9711
Epoch 90/500, Loss: 1.2427
Epoch 100/500, Loss: 1.5098
Epoch 110/500, Loss: 1.4445
Epoch 120/500, Loss: 1.4107
Epoch 130/500, Loss: 0.8165
Epoch 140/500, Loss: 0.9657
Epoch 150/500, Loss: 1.3523
Epoch 160/500, Loss: 0.7603
Epoch 170/500, Loss: 1.2556
Epoch 180/500, Loss: 0.9982
Epoch 190/500, Loss: 0.6812
Epoch 200/500, Loss: 1.1186
Epoch 210/500, Loss: 1.2539
Epoch 220/500, Loss: 0.8598
Epoch 230/500, Loss: 0.8334
Epoch 240/500, Loss: 1.0539
Epoch 250/500, Loss: 1.0356
Epoch 260/500, Loss: 1.2514
Epoch 270/500, Loss: 0.8086
Epoch 280/500, Loss: 0.6522
Epoch 290/500, Loss: 1.3402
Epoch 300/500, Loss: 0.8508
Epoch 310/500, Loss: 0.9365
Epoch 320/500, Loss: 0.8015
Epoch 330/500, Loss: 1.1645
Epoch 340/500, Loss: 0.9166
Epoch 350/500, Loss: 0.9352
Epoch 360/500, Loss: 1.1747
Epoch 370/500, Loss: 0.9825
Epoch 380/500, Loss: 1.0296
Epoch 390/500, Loss: 0.7199
Epoch 400/500, Loss: 1.1435
Epoch 410/500, Loss: 0.8623
Epoch 420/500, Loss: 0.9096
Epoch 430/500, Loss: 0.9662
Epoch 440/500, Loss: 0.8564
Epoch 450/500, Loss: 1.0575
Epoch 460/500, Loss: 1.1735
Epoch 470/500, Loss: 1.0556
Epoch 480/500, Loss: 1.0687
Epoch 490/500, Loss: 0.6555
Epoch 500/500, Loss: 1.1201

In [112]:
model_d1.eval()
predictions = []

with torch.no_grad():
    for idx, row in testing_feature.iterrows():
        input_tensor = torch.tensor(row.to_numpy(dtype=np.float32), dtype=torch.float32).unsqueeze(0)
        output = model_d1(input_tensor)
        predictions.append(output.item())

submission_df = pd.DataFrame({
    'id': range(len(predictions)),
    'tested_positive': predictions
})
submission_df.to_csv('submission.csv', index=False)
submission_df

      id  tested_positive
0      0        32.603535
1      1         6.041372
2      2        24.895422
3      3        26.608978
4      4        40.452549
..   ...              ...
992  992        15.621445
993  993        13.420916
994  994        20.080273
995  995        21.410704
996  996        34.176884

[997 rows x 2 columns]